*,
*:after,
*:before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      position: relative;
}

*,
*:after,
*:before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      position: relative;
}

a {
      font-weight: 600px;
}

.navbar {
      background-color: rgb(4, 155, 155);
      color: white;
}

.navbar>a {
      color: white;
}

.navbar-brand {
      font-size: 2.6em;
}

.navbar-brand:hover {
      color: white;
}

a {
      color: white;
}

a:hover {
      color: white;
}

.nav-link {
      margin: 2px;
      border: 2px transparent solid;
      transition: border 0.2s;

}

.nav-link:hover {
      /* margin: 0px; */
      /* color: red; */
      height: inherit;
      /* background-color: red; */
      /* background-color: rgb(4, 196, 202); */
      border-radius: 5%;
      border: 2px solid white;
}

.jumbotron {
      height: 600px;
      background-image: url('https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-size: cover;
      background-color: black;
      color: white;
}

.container>.lead,
.display-4 {
      text-shadow: black 2px 0px 6px;
      font-weight: 500;

}

.jumbotron>.container>.lead {
      font-size: 1.4em;
}

.btn-begin {
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid white;
      width: 5em;
}

.btn-begin:hover {
      background-color: rgb(4, 155, 155);
      border: 2px solid rgb(4, 155, 155);
}

.btn-begin:active {
      background-color: rgb(4, 155, 155);
      border: 2px solid rgb(4, 155, 155);
}

.offers {
      display: flex;
      transform: translateY(-40%);
      justify-content: space-evenly;
}

.block {
      width: 420px;
      height: 440px;
      background-color: white;
      /* margin: -100px auto; */
      box-shadow: black 2px 2px 12px;
}

.block:nth-child(1) {
      background-image: url('https://images.pexels.com/photos/169647/pexels-photo-169647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-size: cover;
      transition: all 1.2s;

}

.block:nth-child(2) {
      background-image: url('https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-size: cover;
}

.block:nth-child(3) {
      background-image: url('https://images.pexels.com/photos/672532/pexels-photo-672532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-size: cover;
}

.details {
      display: flex;
      position: absolute;
      bottom: 0px;
      background-color: rgb(4, 155, 155);
      width: inherit;
      height: 4em;
      padding: 0.4em;
      opacity: 0;
      transition: .3s;
      color: white;
      justify-content: space-between;
      align-items: center;
}

.details>h1 {
      margin-left: 5px;
}


.block:hover>.details {
      opacity: 1;
}

/* 
.details>h1:hover {
      margin-left: 5px;
} */

.details>.btn {

      background-color: white;
      color: rgb(4, 155, 155);
      font-size: 1.3em;
      right: 0px;
      border: white 2px transparent;
}

.details>.btn:hover {
      color: white;
      border: white 2px solid;
      background-color: rgb(5, 155, 155)
}

.hot-offers {
      height: auto;
}

.offer {
      height: 18em;
      display: flex;
      border: 1px solid #e1e1e1
}

.offer>.photo {
      background-size: cover;
      height: inherit;
      width: 52em;
      background-color: red;

}

.offer>.hot-detail {
      padding: 20px 40px;
}